Django==5.2.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
python-dotenv
requests
Pillow
mysqlclient
gunicorn
stripe
paypalrestsdk
whitenoise
dj_database_url
psycopg2-binary
django-cors-headers
djangorestframework-api-key==3.1.0